################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alert-Server/.vs/Alert-Server/FileContentIndex
